* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

nav {
    background: #1f2937;
    color: white;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.page {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.page h1 {
    margin-bottom: 25px;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #2563eb;
    color: white;
}

button:hover {
    opacity: 0.85;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 14px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f1f5f9;
}

td button {
    margin-right: 8px;
}

.form select {
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: white;
}