* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

nav {
    background: #1f2937;
    color: white;
    padding: 20px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}